  <hr>
  <div class="container" id="footer">
    <div class="row-fluid">
      <div class="span12">
        <div class="pull-left">
          <a class="btn btn-primary" href="{{ edit_url }}">Edit this Page</a>
          <a class="btn btn-default" href="https://github.com/{{ site.org_name }}/{{ site.repo_name }}/commits/{{ site.branch }}">View Revision History</a>
        </div>
        <div class="pull-right">
          <iframe src="/assets/ghbtns/github-btn.html?user={{ site.org_name }}&repo={{ site.repo_name }}&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="95" height="20"></iframe>
        </div>
      </div>
    </div>
  </div><!-- /container -->


  <script src="/assets/js/vendor/jquery-1.11.1.min.js"></script>
  <script src="/assets/js/bootstrap.min.js"></script>



</body>
</html>
<!-- Generated {{ site.time }} -->