<ul class="nav sidenav">
  <li class="active">
    <a href="#">Considerando</a>
  </li>
  <li class="">
    <a href="#">Objetivo de la Política</a>
  </li>
  <li class="">
    <a href="#">Ámbito de aplicación</a>
  </li>
  <li class="">
    <a href="#">Estructura institucional</a>
  </li>
  <li class="">
    <a href="#">Datos Abiertos</a>
  </li>
  <li class="">
    <a href="#">Publicación</a>
  </li>
  <li class="">
    <a href="#">Requerimientos Legales</a>
  </li>
  <li class="">
    <a href="#">Vinculación ciudadana</a>
  </li>
  <li class="">
    <a href="#">Protección de datos</a>
  </li>
  <li class="">
    <a href="#">Recursos</a>
  </li>
  <li class="">
    <a href="#">Responsabilidades inmediatas</a>
  </li>
  <li class="">
    <a href="#">Anexos</a>
  </li>
</ul>

