<div class="alert alert-info clearfix" role="alert">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    <h3>The Latest</h3>
    <p>The U.S. Department of the Treasury has recently released the alpha version of <a href="{{site.baseurl}}/data-lab/>the DATA Lab at USAspending.gov</a>, an initiative to create visualizations and analyses using federal spending data.</p>
    <p>The U.S. Department of the Treasury has launched <a href="https://beta.usaspending.gov/#/">Beta.USAspending.gov</a>! Explore, search, and better understand how the federal government spends taxpayer dollars. Take a look and <a href="https://usaspending-help.zendesk.com/hc/en-us/community/topics">tell us what you think</a>.</p>
    <p>Also, the U.S. Department of the Treasury has implemented a minor update to the DATA Act Information Model Schema (DAIMS) as version 1.1. Find out more at the <a href="{{site.baseurl}}/data-model/">Data Model page.</a></p>
</div>
