<div class="alert alert-info clearfix" role="alert">
    <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
    <h3>The Latest</h3>
    <p>The U.S. Department of the Treasury has just launched <a href="https://beta.usaspending.gov/#/">Beta.USAspending.gov</a>! Explore, search, and better understand how the federal government spends taxpayer dollars. Take a look and <a href="https://usaspending-help.zendesk.com/hc/en-us/community/topics">tell us what you think</a>.</p>
</div>
