@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Noto+Sans:400,700);

body {
  background-color: #F0F0F0;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 28px;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #000000;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
}
h1 {
  border-bottom: none;
  line-height: 30px;
  font-size: 28px;
}
h2 {
  font-size: 20px;
  line-height: 24px;
  margin-top: 40px;
}
h3 { margin-top: 30px; }
h5 { font-size: 14px; }
hr {
  border: none;
  border-bottom: 1px solid #303030;
  margin-top: 40px;
}


/****** Lists ******/


ul a[rel="footnote"] {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em;
  vertical-align: baseline;
}

li { 
  margin-left: 2em; 
  padding-left: 0; 
}

ul.nav li{
  margin:0;
  padding: 0 0px 0 0;
}

ol, ul {
  margin:0;
  padding: 0 20px 0 0;
}


.container-fluid {
  margin: 0 auto 0px;
  padding: 0 20px;
}

#topbar {
  background-color: black;
  height: 30px;
}

#header {
  background-color: #303030;
}

.navbar {
  margin-bottom: 0;
}
.navbar-inner {
  padding-left: 0;
  padding-right: 0;
}
.brand {
  color: white;
  font-family: "Abel","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 32px;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;
}
.title {
  color: black;
  font-family: "Abel","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 54px;
  line-height: 54px;
  text-transform: uppercase;
}
.nav > li > a {
  font-size: 14px;
}

.navbar .btn-navbar {
  color: #F0F0F0;
  font-style: italic;
  margin: 7px 0 0 0;
}
.navbar .btn {
  background-color: transparent;
}
.navbar a {
  text-decoration: none;
}
.navbar .nav > li > a {
  border-top: 6px solid #878D8D;
  color: #DBDBDB;
  font-style: italic;
  padding: 6px 20px 0 20px;
}
.navbar .nav > li > a:focus,
.navbar .nav > li > a:hover {
  background-color: transparent;
  border-top: 6px solid #F0F0F0;
  color: #DBDBDB;
  text-decoration: none;
}

.navbar .nav > li > a.visited{
  background-color: transparent;
  border-top: 6px solid #F0F0F0;
  color: #DBDBDB;
  text-decoration: none;
}

.hero-unit.home {
  background-color: none;
  border-bottom: 1px solid #BC9E5F;
  margin-bottom: 0;
  padding: 10px;
  text-align: center;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}
.hero-unit.home h1 {
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 10px;
  line-height: 36px;
  text-transform: uppercase;
}

a.btn-primary {
  text-decoration: none;
}

.intextimage {
  display: block;
  max-width:700px;
  max-height:400px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  background-color: #726C6C;
  padding: 40px 10px;
  height: auto;
}


/****** botones ******/


.cta-wrapper {
  display: inline-block;
  width: 48%;
}

.cta-wrapper .right { float: right; }

.cta-button:active {
  top: 9px;
}

.cta-button {
  background-color: #333;
  position: relative;
  display: inline-block;
  font-size: 46px;
  font-family: "Abel","Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 120px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  transition: all .08s linear;
  height: 120px;
  width: 100%;
}

.cta-button:link,
.cta-button:visited,
.cta-button:hover,
.cta-button:active {
  color: white;
  text-decoration: none;
}

.cta-button.green {
  background-color: #22D4A7;
}

.cta-button.purple {
  background-color: #6558FB;
}


/****** tables ******/


table {
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
}
.table {
  margin-bottom: 20px;
  width: 100%;
}
.table th, .table td {
  border-top: 1px solid #DDDDDD;
  line-height: 20px;
  padding: 8px;
  text-align: left;
  vertical-align: top;
}
.table-striped tbody tr:nth-child(2n+1) td,
.table-striped tbody tr:nth-child(2n+1) th { background-color: #F9F9F9; }

th, td { padding: 6px }

table th {
  color: #FFFFFF;
  background-color: #666666;
}


/****** SIDEBAR ******/


.sidebar {
  padding-top: 18px;
}

.sidenav a,
.sidenav > li > a:hover,
.sidenav > li > a:focus {
  color: white;
  background-color: black;
  margin-bottom: 10px;
  padding: 10px;
  text-align: right;
  text-decoration: none;
  -moz-box-shadow: 4px 4px #303030;
  -webkit-box-shadow: 4px 4px #303030;
  box-shadow: 4px 4px #303030;
}

.sidenav a.active {
  color: white;
  background-color: #32F0E6;
  margin-right: -20px;
  padding: 10px;
  text-align: right;
  text-decoration: none;
  -moz-box-shadow: 4px 4px #00CCCC;
  -webkit-box-shadow: 4px 4px #00CCCC;
  box-shadow: 4px 4px #00CCCC;
}

.sidenav > li > a:hover,
.sidenav > li > a:focus {
  margin-right: -20px;
}

.sidenav > li > a:active {
  background-color: #32F0E6;
  -moz-box-shadow: 4px 4px #00CCCC;
  -webkit-box-shadow: 4px 4px #00CCCC;
  box-shadow: 4px 4px #00CCCC;
}

img.logo {
  height: 75px;
  margin: 0 20px 30px 0;
}

.row-fluid .brand-wrapper {
  margin-left: 0;
  height: 119px;
  padding-top: 11px;
}

.centered-content, .lefty-content {
  margin: 0 auto;
  max-width: 750px;
}

.centered-content .row-fluid,
.call-to-action .row-fluid {
  margin: 70px auto;
}

.call-to-action {
  background-color: #999;
  color: white;
}

.call-to-action .pitch { font-size: 28px; line-height: 40px; }

.table-footer {
  font-size: 12px;
}


/****** PAGE STYLES ******/


.pnda strong,
.pnda h1,
.pnda h2,
.pnda h3,
.pnda h4,
.pnda h5,
.pnda h6 {
  color: #32F0E6;
}

.pnda .sidenav > li > a:hover,
.pnda .sidenav > li > a:focus,
.pnda .sidenav > li > a:active {
  background-color: #32F0E6;
  -moz-box-shadow: 4px 4px #00CCCC;
  -webkit-box-shadow: 4px 4px #00CCCC;
  box-shadow: 4px 4px #00CCCC;
}


.guia th {
  background-color: #22D4A7;
  color: #FFFFFF;
}

.guia strong,
.guia h1,
.guia h2,
.guia h3,
.guia h4,
.guia h5,
.guia h6 {
  color: #22D4A7;
}

.guia .sidenav > li > a:hover,
.guia .sidenav > li > a:focus,
.guia .sidenav > li > a:active {
  background-color: #22D4A7;
  -moz-box-shadow: 4px 4px #15986E;
  -webkit-box-shadow: 4px 4px #15986E;
  box-shadow: 4px 4px #15986E;
}


.odra table {
  text-align: left;
  width: 100%;
}

.odra td.yellow {
  background-color: #DFBF59;
}

.odra td.green {
  background-color: #00AB65;
}

.odra tr.subheader {
  background-color: #6558FB;
  color: #FFFFFF;
}

.odra strong,
.odra h1,
.odra h2,
.odra h3,
.odra h4,
.odra h5,
.odra h6 {
  color: #6558FB;
}

.odra .sidenav > li > a:hover,
.odra .sidenav > li > a:focus,
.odra .sidenav > li > a:active {
  background-color: #6558FB;
  -moz-box-shadow: 4px 4px #170F85;
  -webkit-box-shadow: 4px 4px #170F85;
  box-shadow: 4px 4px #170F85;
}


/****** RESPONSIVE ******/


@media (min-width: 979px) {
  .lefty-content {
    padding-left: 0;
    margin: 60px 0;
    max-width: 960px;
  }
}

@media (max-width: 979px) {
  .row-fluid .span-content {
    width: 100%;
    margin: 0;
  }

  #topbar { height: 0 }

  .navbar .nav-collapse .nav.pull-right {
    float: none;
    margin-left: 0;
    padding: 0;
    text-align: left;
  }
  .nav-collapse .nav > li > a,
  .nav-collapse .dropdown-menu a {
    border-top: 0;
    font-weight: normal;
    font-style: normal;
    color: #32F0E6;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
  }
  .navbar .nav > li > a:focus,
  .navbar .nav > li > a:hover {
    border-top: 0;
    color: #32F0E6;
    text-decoration: none;
  }
  a.btn-primary {
    font-size: 11px;
  }

  .sidebar { display: none !important; }
}
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
    padding-top:0;
  }
}
@media (min-width: 980px) {
  body {
    padding: 0;
  }

  #sections { display: none; }
}
@media (max-width: 480px) {
  .cta-button {
    font-size: 21px;
  }
  .call-to-action .pitch {
    font-size: 18px;
    line-height: 30px;
  }
}

