            
html {
  background: url(../img/background.png) center repeat inset;
  border-bottom: 15px solid #BC9E5F;}

body {
  font-family: Georgia, 'Times New Roman', serif;
  font-size: 1em;
  line-height: 1.4em; 
}

.container {max-width: 720px; line-height: 1.5em;}
.container p {margin: 0 0 1.5em 0;}
.container li { line-height: 1.5em;}

.navbar {
  -webkit-box-shadow: 0 5px 5px rgba(0,0,0,.2);
  background: #002A5B;
}

.navbar-inverse .navbar-inner {background: #002A5B;}
.navbar-inverse .brand, .navbar-inverse .nav > li > a {color: #fff; }
.navbar-inverse .brand, .navbar-inverse .nav > li > a.brand {border-left: none; margin: 0;}

.navbar-inverse .nav li a {height: 100%; margin: .5em 0;}

.navbar-inverse .brand {margin: 0 .5em .25em 0; font-weight: 100; font-weight: normal; opacity: .95;}

.navbar .brand {padding-left: 0;}

.button a {
  background: #eee; 
  background: rgba(0,0,0,.05); 
  text-shadow: 0 1px 0 rgba(255,255,255,.8); 
  color: #444; 
  display: inline-block; 
  padding: .5em 1em; 
  margin: 1em 0; 
  border: 1px solid rgba(0,0,0,.2);}

.button a:hover {
  text-decoration: none;
  background: #082B5B; 
  background: rgba(0,0,0,.1);
}

@media (min-width: 768px) {
  body {background: url(../img/seal.jpg) 80% 90% no-repeat fixed;}
  .navbar-inverse .brand {margin: .25em .5em .25em 0; }
}


.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
  background: #001A36; 
  background: rgba(0,0,0,.4);
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.3) inset;
}



@media (max-width: 979px) {
.nav-collapse .nav > li > a, .nav-collapse .dropdown-menu a {font-weight: normal;}
}

h1, h2, h3, h4, h5, h6 {font-weight: normal; margin: 0; padding: 0; line-height: 1.3em; text-shadow: 0 1px 0 rgba(255,255,255,.9);}

hr {margin: .5em 0 1em 0; border-color: rgba(0,0,0,.1); height: 1px;}

h1 {margin: 1em 0 0 0;}

p, ul, ol, dl, {padding-bottom: 2em;}

.hero-unit {
  background: none;
  padding: 0;
  border-bottom: 2px solid #BC9E5F;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.hero-unit h1 {color: #002A5B; margin: .5em 0 .1em 0; line-height: 1.1em;}

.hero-unit p {display: block; padding: .75em 0 0 0; color: #777; text-transform: uppercase; letter-spacing: .15em; font-size: 1.1em;}

.button { float: left; }
.button-right { float: right; margin-top: 28px; }

/* Policy Memo */
.policy-memo h1 {margin-bottom: 50px; line-height: 1em;}
.policy-memo #from { list-style: none; margin-left: 100px; margin-top: -45px; margin-bottom: 25px;}
.policy-memo #from li { margin-bottom: 10px;}
.policy-memo .from { margin-right: 1.8em; }
.policy-memo h4, .policy-memo h5 {font-weight: bold; margin-bottom: 10px; line-height: 1.1em;}
.policy-memo h5 { font-size: 1em; }

.footnotes a[rev=footnote] { float: right; margin-top: -40px; }
.footnotes { font-size: 0.8em;}
.footnotes ol li p { margin-bottom: 10px;}