<div id="pie-holder">
    <canvas id="sample-pie-chart-area" width="300" height="300" />
</div>
<div id="pieLegend" class="chart-legend"></div>

<script>
var SamplePieData = [{
        value: 57,
        color: "#4694d0",
        highlight: "#35749b",
        label: "Item One: 57"
    }, {
        value: 10,
        color: "#74d1ef",
        highlight: "#5ba8ba",
        label: "Item Two: 10"
    }, {
        value: 176,
        color: "#ed788b",
        highlight: "#b75e6f",
        label: "Item Three: 176"
    }, {
        value: 115,
        color: "#fed883",
        highlight: "#c9a969",
        label: "Item Four: 115"
    }
];
</script>