<div id="doughnut-holder">
    <canvas id="sample-doughnut-data" width="300" height="300" />
</div>
<div id="doughnutLegend" class="chart-legend"></div>

<script>
var sampleDoughnutData = [{
        value: 57,
        color: "#006b81",
        highlight: "#008799",
        label: "Item One: 57"
    }, {
        value: 10,
        color: "#00aacd",
        highlight: "#00cae5",
        label: "Item Two: 10"
    }, {
        value: 176,
        color: "#51c8ed",
        highlight: "#5ae0ff",
        label: "Item Three: 176"
    }, {
        value: 115,
        color: "#8bd9f1",
        highlight: "#a4eeff",
        label: "Item Four: 115"
    }
];
</script>