{% include header.html %}


<div class="container-fluid lefty-content {{ page.doc-name }}">
  <div class="row-fluid">
    <div class="span3 sidebar">
      <ul class="nav nav-tabs sidenav">
        {% for section in page.sections %}
          {% capture section_url %}{{ site.url }}/{{ section.path }}/{% endcapture %}
          {% capture section_path %}/{{ section.path }}/{% endcapture %}
          {% if page.url == section_path %}
            <li class="active"><a href="{{ section_url }}" class="active">{{ section.name }}</a></li>
          {% else %}
            <li><a href="{{ section_url }}">{{ section.name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div>
    <div class="span9 span-content">
      <span class="title">{{ page.title }}</span>
      {{ content }}
    </div>
  </div>
</div>

{% include footer.html %}

